---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign categories = "Journal Articles, Preprints, Conference Papers" | split: ", " %}

{% for category in categories %}
  {% assign category_pubs = site.data.publications | where: "category", category %}
  {% if category_pubs.size > 0 %}
    <h2><strong>{{ category }}</strong></h2>
    <ol>
      {% for pub in category_pubs %}
        <li>
          <strong>{{ pub.title }}</strong><br>

          {% assign authors_list = pub.authors | first | split: ", " %}
          {% for author in authors_list %}
            {% if author contains "Haitao Chen" %}
              <u>{{ author }}</u>{% unless forloop.last %}, {% endunless %}
            {% else %}
              {{ author }}{% unless forloop.last %}, {% endunless %}
            {% endif %}
          {% endfor %}
          <br>

          <em>{{ pub.journal }}</em>, {{ pub.vol }}, {{ pub.year }}<br>

          {% if pub.link %}
            <a href="{{ pub.link }}" target="_blank">[link]</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {% endif %}
{% endfor %}

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}