---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign grouped_pubs = site.data.publications | group_by: "category" %}

{% for group in grouped_pubs %}
  <h2 style="margin-top: 1em; margin-bottom: 0.5em;"><strong>{{ group.name }}</strong></h2>
  <ol style="margin-top: 0em;">
    {% for pub in group.items %}
      <li style="margin-bottom: 1em;">
        <strong>{{ pub.title }}</strong><br>

        {% assign authors_str = pub.authors | join: ", " %}
        {% assign authors_str = authors_str | replace: "Haitao Chen", "<u>Haitao Chen</u>" %}
        
        {{ authors_str }}<br>

        <em>{{ pub.journal }}</em>{% if pub.vol %}, {{ pub.vol }}{% endif %}, {{ pub.year }}<br>

        {%- if pub.link -%}
          <a href="{{ pub.link }}" target="_blank">[link]</a>
        {%- endif -%}
      </li>
    {% endfor %}
  </ol>
{% endfor %}

{% if site.author.googlescholar %}
<div class="wordwrap" style="margin-top: 0.5em;">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}
