---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on
  <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

## Publications

{% capture pubs_content %}
{% include_relative publications.yml %}
{% endcapture %}
{% assign my_pubs = pubs_content | from_yaml %}

### Journal Articles
{% assign journal_pubs = my_pubs | where: "type", "journal" %}
{% for pub in journal_pubs %}
{{ forloop.index }}. **{{ pub.title }}**  
{{ pub.authors }}  
{{ pub.venue }} ({{ pub.year }})  
{% if pub.link %}
[link]({{ pub.link }})
{% endif %}
{% if pub.code %}
&nbsp;[visualization code]({{ pub.code }})
{% endif %}

{% endfor %}



